html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  overflow: hidden;
}

* {
  box-sizing: border-box;
}

.reset {
  position: absolute;
  top: 16px;
  right: 16px;
  padding: 4px 16px;
  border-radius: 8px;
  font-size: 16px;
}

.info {
  position: absolute;
  top: 16px;
  left: 16px;
}

p {
  margin-top: 0;
  margin-bottom: 8px;
}

.disclaimer {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 170px;
  height: 120px;
  margin: auto;
  text-align: center;
  line-height: 1;
}

.help {
  position: relative;
  font-size: 24px;
  text-decoration: underline;
  cursor: pointer;
}

.description {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: auto;
  padding: 16px;
  text-align: center;
  line-height: 1;
  font-size: 18px;
}

.close {
  margin-top: 16px;
  font-size: 20px;
  text-decoration: underline;
  cursor: pointer;
}

.image {
  margin-top: 8px;
}

.isHidden {
  display: none;
}
